__pycache__/
.vscode/
image_results*/
lightning_logs/
logs/
*.ckpt
log.txt
*.png
Image2Image/Optimization/*
*.pth
*.pt
*.mat
*.pkl
*pickle
ObjectDetection/models/yolov5
ObjectDetection/models/efficientdet-pytorch
ObjectDetection/models/datasets
ObjectDetection/checkpoints
ObjectDetection/random_stuff.py